.link-r {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.0);
}

.link-twit {
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../img/home/twit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
}

.link-twit:hover {
  background-image: url(../img/home/twit-inv.png);
}

.link-patr {
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../img/home/patr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
}

.link-patr:hover {
  background-image: url(../img/home/patr-inv.png);
}

.link-l {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 6px;
  margin-left: 6px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.0);
}

.link-patch {
  font-family: SmbWeb;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

.link-patch:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}